* {
  list-style: none;
  font-size: 12px;
}
body {
  //background: deeppink;
}
li {
  margin: 5px;
}

.myDiv {
  width: 100px;
  height: 100px;
  background-image: url('../images/6zmayaq.png');
  background-size: contain;
}